* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}


.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__main {
  flex: 0.9;
}

.card__container {
  display: grid;
  height: 100%;
  grid-template-areas: "countries-info"
                       "countries-chart";
}
.card__countriesInfo{
  grid-area: countries-info;
}
.card__countriesChart{
  grid-area: countries-chart;
  align-self: center;
  justify-self: center;
}

.card__countriesChart h3{
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}
